<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.9815D04E-CF85-4DD3-8790-365AF4035347</string>
	<key>darkthemeuid</key>
	<string>theme.urlimport.285652CA-600E-43FB-8FB9-FC4DAABC92A1</string>
</dict>
</plist>
