<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.9815D04E-CF85-4DD3-8790-365AF4035347</string>
	<key>darkthemeuid</key>
	<string>theme.custom.9A6ACAC7-E330-4669-A04E-E53FA1E2EA48</string>
</dict>
</plist>
